Repository ansys/pyworkbench, pull requests merged in 2024-12, with the labels that each got.

#161 fix: use title case in CONTRIBUTORS.md
  CONTRIBUTORS.md
  doc/changelog.d/161.fixed.md
Labels: bug

#165 DOC: Update docs with new pymechanical api
  doc/changelog.d/165.documentation.md
  doc/source/user-guide.rst
  src/ansys/workbench/core/workbench_client.py
Labels: documentation

#169 feat: add cheatsheet
  .github/workflows/ci.yml
  doc/changelog.d/169.added.md
  doc/source/cheatsheet/.gitignore
  doc/source/cheatsheet/cheatsheet.qmd
  doc/source/conf.py
  pyproject.toml
Labels: documentation, enhancement, dependencies, maintenance
