Repository ansys/pyworkbench, pull requests merged in 2024-10, with the labels that each got.

#136 fix: update cicd for bot secrets
  .github/workflows/ci.yml
  .github/workflows/label.yml
  doc/changelog.d/136.fixed.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: bug, maintenance

#121 maint: migrate to ansys sphinx theme 1.0.9
  doc/changelog.d/121.changed.md
  doc/source/conf.py
Labels: documentation, maintenance

#143 support variables in script; change argument release to version
  doc/changelog.d/143.documentation.md
  doc/source/getting-started.rst
  doc/source/user-guide.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/workbench/core/public_api.py
  src/ansys/workbench/core/workbench_client.py
  tests/test_launch_workbench.py
  tests/test_workbench_client.py
Labels: documentation, testing

#145 support downloading project archive; suppress console window
  doc/changelog.d/145.documentation.md
  doc/source/user-guide.rst
  src/ansys/workbench/core/public_api.py
  src/ansys/workbench/core/workbench_client.py
Labels: documentation

#148 bump version to 0.8
  doc/changelog.d/148.documentation.md
  doc/source/user-guide.rst
  pyproject.toml
Labels: documentation, dependencies, maintenance
