Repository ansys/pyworkbench, pull requests merged in 2024-08, with the labels that each got.

#105 fix: make `WMI` windows only dependency
  doc/changelog.d/105.fixed.md
  pyproject.toml
Labels: bug, dependencies, maintenance

#112 bump version to 0.6.dev0
  doc/changelog.d/112.dependencies.md
  pyproject.toml
Labels: dependencies, maintenance

#113 fix example repo URL; add server release requirement in doc
  doc/changelog.d/113.miscellaneous.md
  doc/source/conf.py
  doc/source/getting-started.rst
  doc/source/user-guide.rst
  src/ansys/workbench/core/example_data.py
  tests/test_example_data.py
Labels: documentation, testing

#115 bump version to 0.7.dev0
  doc/changelog.d/115.dependencies.md
  pyproject.toml
Labels: dependencies, maintenance
